{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Demo Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %} {% endblock %}
        {% block meta %} {% endblock %}
        {% block stylesheets %} {% endblock %}
        {% block scripts %} {% endblock %}

        {{ renderAssets('styles')|raw }}
    </head>
    <body class="{{[config.container_class]|join('  |  ') }}" {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
        {% for container in containers %}
            {% include container.template with container %}
        {% endfor %}

        {{ renderAssets('beforeBodyEnd')|raw }}
    </body>
</html>
